{% extends 'base.html' %}
{% block title %}   
Profile
{% endblock %}

{% block start %}
<section class="h-100" style="background-color: #fff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-9 col-xl-8">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #fff; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              {% if user.profile.profile_pic %}
                <img src="{{ user.profile.profile_pic.url }}" alt="Profile Picture" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">

                {%else%}
                {% if user.socialaccount_set.all %}
        {% for account in user.socialaccount_set.all %}
            {% if account.provider == 'google' %}
                <img src="{{ account.get_avatar_url }}" alt="Google Profile Image" class="profile-img">
            {% endif %}
        {% endfor %}
    {% endif %}
              {% endif %}
              {% if request.user == user %}
                <a href="{% url 'edit_profile' %}" type="button" class="btn btn-outline-dark text-body mt-5" style="z-index: 1;">
                  Edit profile
                </a>
              {% endif %}
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5 class="dark" style="color: black;">{{ user.username }}</h5>
              <p style="color: black;">{{ user.profile.country }}</p>
            </div>
          </div>
          
          <div class="p-4 text-black bg-body-tertiary">
            <div class="d-flex justify-content-end text-center py-1 text-body">
              <div>
                <p class="mb-1 h5">253</p>
                <p class="small text-muted mb-0">Photos</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5"> {{ tweet.total_followers }}</p>
                <p class="small text-muted mb-0">Followers</p>
              </div>
              <div>
                <p class="mb-1 h5">478</p>
                <p class="small text-muted mb-0">Following</p>
              </div>
            </div>
          </div>
 
          <div class="card-body p-4 text-black">
            <div class="mb-5 text-body">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4 bg-body-tertiary">
                <!-- <p class="font-italic mb-1">Email: {{ user.email }}</p> -->
                <p class="font-italic mb-1">Lives in: 
                   {% if user.profile.country %}
                  <img src="https://flagcdn.com/{{ user.profile.country.code|lower }}.svg" alt="{{ user.profile.country.name }} Flag" style="width: 20px;">
              {% endif %} 
              {{ user.profile.country }}</p>
                <p class="font-italic mb-0">Mobile: {{ user.profile.phone_number }}</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4 text-body">
              <p class="lead fw-normal mb-0">Recent photos</p>
              <p class="mb-0"><a href="{% url 'user' %}" class="text-muted">Show all</a></p>
            </div>
            <div class="row g-2 ">
              <div class="col mb-2 d-flex gap-3" style="overflow: hidden; overflow: scroll; max-height: 60vh;">
                {% for tweet in tweets %}
                <div class="mb-3">
                  <div class="card" style="border-radius: 10px; width: 200px; max-width: 400px;">
                    {% if tweet.photo %}
                    <a href="{% url 'tweet_detail' tweet.id %}">
                    <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet Image" style="height: 100%; min-height: 200px; max-height: 400px; object-fit: cover; border-top-left-radius: 10px; border-top-right-radius: 10px; border-radius: 10px;">
                  </a>
                    {% endif %}
                    
                    <div class="contents mt-2">
                      <form action="{% url 'followers' tweet.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" style="border: none; background: none;">
                            {% if request.user in tweet.Followers.all %}
                            unfollow
                            {% else %}
                            follow
                            {% endif %}
                        </button>
                        <p>Followers: {{ tweet.total_followers }}</p>
                      </form>
                    </div>

                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<a href="/" class="btn btn-primary m-3">Back</a>

{% endblock %}
