{% extends 'base.html' %}

{% block start %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
<h2 class="m-4"> Login</h2>
<form method="post" class="content form m-4">
    {% csrf_token %}
  
    <div class="mb-3 container">
        <label for="exampleFormControlInput1" class="form-label">username</label>
        <input type="username" class="form-control" name='username' id="" placeholder="username">
        <label for="exampleFormControlInput1" class="form-label">password</label>
        <input type="password" class="form-control" name='password' id="" placeholder="enter password">
       
      </div>
    
    <button type="submit" class="btn btn-primary">Login</button>
</form>
<p class="m-4">don't have an account <a href="{%url 'register'%}" style="color: red;">register here</a></p>
{% endblock %}