h4{
    color: red;
    text-transform: uppercase;
}
.card-img-top{
    /* height: 100%; */
    object-fit: cover;

}
.time{
    font-weight: 100;
    font-size: 16px;
    /* width: 80px; */
}
.profile_pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
a{
    text-decoration: none;
    color: white;
}
.profile-image {
    width:200px; 
     height: 200px; 
    /* height: auto; */
    border-radius: 50%;
    object-fit: cover;
    /* Optional: to make profile images circular */
}

.card-img-top {
    max-width: 100%;
    height: auto;
}
.Create{
    position: fixed;
    /* padding: 20px; */
    border-radius: 10%;
    left: 35%;
    z-index: 9999;
    bottom: 0px;
}
.popup{
    position: absolute;
    top: 45%;
    left: 30%;
    background: white;
    border-radius: 20px;
    padding: 20px;
    color: black;
    width: 400px;
    height: 400px;
}
.btn-1{
    background: none;
    border: none;
}
.message{
    position: fixed;
    padding: 20px;
left: 20%;
right: 20%;
    top: 0;
}
/* Example media queries for better control over image sizes */
/* @media (max-width: 600px) {
    .profile-image {
        width: 100%;
    }

    .card-img-top {
        width: 100%;
    }
}

@media (min-width: 601px) {
    .profile-image {
        width: 150px;
    }

    .card-img-top {
        width: 100%;
    }
} */
